@model InventorySystem.DataBase.User_t


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Admin, Dashboard, Bootstrap" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../../img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../../img/favicon/manifest.json">
    <link rel="mask-icon" href="../../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="~/css/style.min.css" rel="stylesheet" />

    <!-- jquery-loading -->
    <link rel="stylesheet" href="../../libs/jquery-loading/dist/jquery.loading.min.css">
    <!--  main style -->
    <link href="~/css/styleLogin.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <section class="container-pages">

        <div class="brand-logo float-left"><a class="" href="#">Inventory System</a></div>

        <div class="pages-tag-line text-white">
            <div class="h4">Bienvenido/a .!</div>
            <small> Sistema de inventario profesional</small>
        </div>

        <div class="card pages-card col-lg-4 col-md-6 col-sm-6">
            <div class="card-body ">
                <div class="h4 text-center text-theme"><strong>Iniciar Sesión</strong></div>
                @*<div class="small text-center text-dark"> Crear una cuenta </div>*@

                @using (Html.BeginForm("Index", "Login"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon text-theme">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Correo">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon text-theme"><i class="fa fa-asterisk"></i></span>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña">

                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <button type="submit" class="btn  btn-theme login-btn ">   Entrar   </button>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>Recuérdame <input type="checkbox" name="rememberme" id="rememberme"> </label>
                        </div>
                    </div>
                }
                <!-- end form -->
                @*<div class="text-center">
            <small>
                already have an account ? Please
                <a href="pages-login.html" class="text-theme">Login</a>
            </small>
        </div>*@

            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </section>
    <!-- end section container -->


    <div id="copyright"><a href="#">Inventory System</a> &copy; 2018. </div>
</body>

</html>